# Flutter/Dart files
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
build/
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/captures/
*.apk
*.ap_
*.keystore

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/*.xcframework
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/ephemeral/
*.xcworkspace

# Web
web/generated/

# Windows
windows/Runner/generated_plugins.cmake

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/.symlinks/

# Linux
linux/flutter/ephemeral/

# Misc
*.log
*.lock
*.DS_Store
.env

# Firebase
.firebase/
.firebase-debug.log*

# Ignore build artifacts and debug APKs
build/
*.apk
*.ipa
